@import "../assets/scss/variables.scss";
.contact-us-component {
  a {
    color: $WHITE;
  }
  input, textarea {
    padding: 1rem 3rem ;
    border-radius: $BORDER_RADIUS_INPUT;
  }
  [type="submit"] {
    background: $BLUE_LIGHT;
    float: left;
    padding: 8px 36px;
  }

  .share_links {
    li {
      margin-left: 22px;
      a {
        height: 38px;
        width: 38px;
        background: white;
        border-radius: 50%;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        color: $BLUE;
        text-decoration: none;
      }
    }
  }
}