// COLORS
$WHITE: #ffffff;
$BLACK: #000000;
$BLACK_LIGHT: #464646;
$BLUE: #276ba2; // USED IN header background, main carousel background, fonts, carousel arrows, shapes
$BLUE_LIGHT: #00aeef; // FOR THE BUTTON
$BLUE_DARK: #003663; // USED IN contact form background
$ORANGE: #e08543; // USED IN shapes,
$TURQUOISE: #3db7af; // THE GREEN COLOR WHICH USED IN accissibilty buttons, shapes,
$GREY: #b0b0b0; // USED IN gallery carousel background
$GREY_DARK: #414141; // USED IN text
$GREY_LIGHT: #ebebeb; // USED IN text



// BORDER RADIUS
$BORDER_RADIUS_SHAPE: 14.5px;
$BORDER_RADIUS_INPUT: 10px;
$BORDER_RADIUS_CIRCLE: 50%;


// FONTS
$MAIN_ARABIC_FONT: 'NeoSansArabic';
$MAIN_ENGLISH_FONT: 'MuseoSansCyrl';
